.dark-1 {
  color: #1d1d1d;
}
.dark-2 {
  color: #4a4a4a;
}
.dark-3 {
  color: #777777;
}
.blue-1 {
  color: #289bde;
}
.edu-lab-bg-blue-1 {
  background-color: #289bde;
}
.edu-lab-btn-outline {
  border: 1px solid #289bde;
  color: #289bde;
  background-color: white;
}
.edu-lab-btn-outline:hover {
  border: 1px solid #289bde;
  background: #289bde;
  color: white;
}
.edu-lab-fs-1 {
  font-size: 65px;
}
.edu-lab-fs-2 {
  font-size: 45px;
}
.edu-lab-fs-3 {
  font-size: 25px;
}
.edu-lab-btn {
  background: #289bde;
  border: 1px solid #289bde;
  color: white;
}
.edu-lab-btn:hover {
  background: #1d8dce;
  border: 1px solid #289bde;
  color: white;
}
.edu-lab-img-fluid {
  width: 100%;
  height: auto;
}
.description,
.button {
  width: 50%;
}
/* media query */
@media screen and (max-width: 768px) {
  .description,
  .button {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .edu-lab-img-fluid {
    width: 100%;
    height: 223px;
  }
}
